<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content='width=device-width,initial-scale=1.0'>
    <title>Coffee shop Website</title>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!-- header section starts -->
<header class='header'>
    <a href='#' class='logo'>
        <img src='https://i.postimg.cc/LXtjcdb0/logo.png' alt=''>
    </a>
    <nav class='navbar'>
        <a href='#home'>Home</a>
        <a href='#about'>About</a>
        <a href='#menu'>Menu</a>
        <a href='#products'>products</a>
        <a href='#comments'>Comments</a>
        <a href='#contact'>Contact</a>
        <a href='#blogs'>Blogs</a>
    </nav>
    <div class='icons'>
        <div class='fas fa-search' id='search-btn'></div>
        <div class='fas fa-shopping-cart' id='cart-btn'></div>
        <div class='fas fa-bars' id='menu-btn'></div>
    </div>
    <div class='search-form'>
        <input type='search' id='search-box' placeholder='Seek more...'>
        <label for='search-box' class='fas fa-search'></label>
    </div>

    <!--buy item-->

    <div class='cart-items-container'>
        <form action="" method="post">
            <div class='cart-item'>
                <span class='fas fa-times'></span>
                <img src='https://i.postimg.cc/xj4Kp57V/cart-item-1.png' alt=''>
                <div class='content'>
                    <h3>Cart item 1</h3>
                    <div class='price'>R$ 15.99/-</div>
                </div>
            </div>
            <div class='cart-item'>
                <span class='fas fa-times'></span>
                <img src='https://i.postimg.cc/gr9bk5z6/cart-item-2.png' alt=''>
                <div class='content'>
                    <h3>Cart item 2</h3>
                    <div class='price'>R$ 15.99/-</div>
                </div>
            </div>
            <div class='cart-item'>
                <span class='fas fa-times'></span>
                <img src='https://i.postimg.cc/bw9rW0gR/cart-item-3.png' alt=''>
                <div class='content'>
                    <h3>Cart item 3</h3>
                    <div class='price'>R$ 15.99/-</div>
                </div>
            </div>
            <div class='cart-item'>
                <span class='fas fa-times'></span>
                <img src='https://i.postimg.cc/P55NGp7s/cart-item-4.png' alt=''>
                <div class='content'>
                    <h3>Cart item 4</h3>
                    <div class='price'>R$ 15.99/-</div>
                </div>
            </div>

            <div class='CartInputBox'>
                <label for='buyerName'><span class='fas fa-user'></span></label>
                <input type='text' id='buyerName' placeholder='Name'>
            </div>

            <div class='CartInputBox'>
                <label for='buyerPhone'><span class='fas fa-phone'></span></label>
                <input type='number' id='buyerPhone' placeholder='Phone number'>
            </div>
            <button type="submit" class='btn'>Buy</button>
        </form>
    </div>

    <!--buy item-->

    <!-- login option -->

    <div class='menu-btn'>
        <form action=''>
            <div class='menuInputBox'>
                <label for='menuInputName'><span class='fas fa-user'></span></label>
                <input type='text' id='menuInputName' placeholder='Name'>
            </div>

            <div class='menuInputBox'>
                <label for='menuInputPhone'><span class='fas fa-phone'></span></label>
                <input type='number' id='menuInputPhone' placeholder='Number'>
            </div>

            <div class='menuInputBox'>
                <label for='menuInputEmail'><span class='fas fa-envelope'></span></label>
                <input type='email' id='menuInputEmail' placeholder='Email'>
            </div>

            <div class='menuInputBox'>
                <label for='password'><span class='fas fa-envelope'></span></label>
                <input type='password' id='password' placeholder='password'>
            </div>

            <input type='submit' value='log in' class='btn'>
            <input type='submit' value='sign in' class='btn'>
        </form>
    </div>

    <!-- login option -->

</header>

<!-- header section ends -->

<!--home section starts -->
<section class='home' id='home'>

    <div class='content'>
        <h3>Warm coffee in the morning</h3>
        <p>Who doesn't like that hot coffee</p>
        <p>early in the morning</p>
        <a href='#' class='btn'>buy now</a>
    </div>


</section>
<!--home section ends -->

<!-- about section starts -->
<section class='about' id="about">
    <h1 class='heading'><span>About</span> us</h1>

    <div class='row'>

        <div class='image'>
            <img src='https://i.postimg.cc/Y08YLk6L/about-img.jpg' alt=''>
        </div>
        <div class='content'>
            <h3>What makes our coffee special?</h3>
            <p>We work hard to always offer the best: traditional products, market news, quality and speed in delivery.
                All of this, combined with fair prices and maximum security so that you can buy with peace of mind</p>
            <a href='#' class='btn'>Learn more</a>
        </div>
    </div>
</section>
<!-- about section ends -->

<!-- menu section starts -->
<section class='menu' id='menu'>

    <h1 class='heading'> Our <span>Menu</span></h1>
    <div class='box-container'>
        <div class='box'>
            <img src='https://i.postimg.cc/yxcJHKdS/menu-1.png' alt=''>
            <h3>Tasty and Healthy</h3>
            <div class='price'>R$ 15,99 <span>R$20.99</span></div>
            <a href='#' class='btn'>Add to Cart</a>
        </div>
        <div class='box'>
            <img src='https://i.postimg.cc/gkKJqN6d/menu-2.png' alt=''>
            <h3>Tasty and Healthy</h3>
            <div class='price'>R$ 15,99 <span>R$20.99</span></div>
            <a href='#' class='btn'>Add to Cart</a>
        </div>
        <div class='box'>
            <img src='https://i.postimg.cc/JnJ7yqWf/menu-3.png' alt=''>
            <h3>Tasty and Healthy</h3>
            <div class='price'>R$ 15,99 <span>R$20.99</span></div>
            <a href='#' class='btn'>Add to Cart</a>
        </div>
        <div class='box'>
            <img src='https://i.postimg.cc/T1JR031Q/menu-4.png' alt=''>
            <h3>Tasty and Healthy</h3>
            <div class='price'>R$ 15,99 <span>R$20.99</span></div>
            <a href='#' class='btn'>Add to Cart</a>
        </div>
        <div class='box'>
            <img src='https://i.postimg.cc/xTgfb8W1/menu-5.png' alt=''>
            <h3>Tasty and Healthy</h3>
            <div class='price'>R$ 15,99 <span>R$20.99</span></div>
            <a href='#' class='btn'>Add to Cart</a>
        </div>
        <div class='box'>
            <img src='https://i.postimg.cc/4ysGYRPc/menu-6.png' alt=''>
            <h3>Tasty and Healthy</h3>
            <div class='price'>R$ 15,99 <span>R$20.99</span></div>
            <a href='#' class='btn'>Add to Cart</a>
        </div>
    </div>
</section>
<!-- menu section ends -->

<section class='products' id="products">
    <h1 class='heading'>Our<span> products</span></h1>

    <div class='box-container'>
        <div class='box'>
            <div class='icons'>
                <a href='#' class='fas fa-shopping-cart'></a>
                <a href='#' class='fas fa-heart'></a>
                <a href='#' class='fas fa-eye'></a>
            </div>
            <div class='image'>
                <img src='https://i.postimg.cc/Dw479dw4/product-1.png' alt=''>
            </div>
            <div class='content'>
                <h3>Fresh coffee</h3>
                <div class='stars'>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star-half-alt'></i>
                </div>
                <div class='price'>R$15,99<span> $20,99</span></div>
            </div>
        </div>

        <div class='box'>
            <div class='icons'>
                <a href='#' class='fas fa-shopping-cart'></a>
                <a href='#' class='fas fa-heart'></a>
                <a href='#' class='fas fa-eye'></a>
            </div>
            <div class='image'>
                <img src='https://i.postimg.cc/br4Bkbc4/product-2.png' alt=''>
            </div>
            <div class='content'>
                <h3>Fresh coffee</h3>
                <div class='stars'>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star-half-alt'></i>
                </div>
                <div class='price'>R$15,99<span> $20,99</span></div>
            </div>
        </div>

        <div class='box'>
            <div class='icons'>
                <a href='#' class='fas fa-shopping-cart'></a>
                <a href='#' class='fas fa-heart'></a>
                <a href='#' class='fas fa-eye'></a>
            </div>
            <div class='image'>
                <img src='https://i.postimg.cc/ZYQgGkBj/product-3.png' alt=''>
            </div>
            <div class='content'>
                <h3>Fresh coffee</h3>
                <div class='stars'>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star-half-alt'></i>
                </div>
                <div class='price'>R$15,99<span> $20,99</span></div>
            </div>
        </div>
    </div>
</section>
<!-- review section starts -->
<section class='comments' id="comments">

    <h1 class='heading'> Customer <span>Comments</span></h1>
    <div class='box-container'>
        <div class='box'>
            <img src='https://i.postimg.cc/cJZw6Jjh/quote-img.png' alt='' class='quote'>
            <p>I come to thank you for your whim and affection.</p>
            <img src='https://i.postimg.cc/pTQ2r2wf/pic-1.png' class='user' alt=''>
            <h3>Jack</h3>
            <div class='stars'>
                <i class='fas fa-star'></i>
                <i class='fas fa-star'></i>
                <i class='fas fa-star'></i>
                <i class='fas fa-star'></i>
                <i class='fas fa-star-half-alt'></i>
            </div>
        </div>
    </div>
    <div class='box-container'>
        <div class='box'>
            <img src='https://i.postimg.cc/cJZw6Jjh/quote-img.png' alt='' class='quote'>
            <p>I come to thank you for your whim and affection.</p>
            <img src='https://i.postimg.cc/QxHRn8ff/pic-2.png' class='user' alt=''>
            <h3>Jack</h3>
            <div class='stars'>
                <i class='fas fa-star'></i>
                <i class='fas fa-star'></i>
                <i class='fas fa-star'></i>
                <i class='fas fa-star'></i>
                <i class='fas fa-star-half-alt'></i>
            </div>
        </div>

        <div class='box-container'>
            <div class='box'>
                <img src='https://i.postimg.cc/cJZw6Jjh/quote-img.png' alt='' class='quote'>
                <p>I come to thank you for your whim and affection.</p>
                <img src='https://i.postimg.cc/D0mYD6PS/pic-3.png' class='user' alt=''>
                <h3>Jack</h3>
                <div class='stars'>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star-half-alt'></i>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- review section ends -->

<!-- contacts section starts -->
<section class='contact' id="contact">
    <h1 class='heading'><span>Contact</span> Us</h1>

    <div class='row'>
        <iframe class='map'
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.839397385858!2d105.80340787618013!3d20.99907398879589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac97e4118869%3A0xae87b41221830670!2zMTcgTmd1eeG7hW4gSHV5IFTGsOG7n25nLCBUaGFuaCBYdcOibiBUcnVuZywgVGhhbmggWHXDom4sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1685262283238!5m2!1svi!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        <form action=''>
            <h3>get in touch</h3>
            <div class='inputBox'>
                <label for='name'><span class='fas fa-user'></span></label>
                <input type='text' id='name' placeholder='Name'>
            </div>

            <div class='inputBox'>
                <label for='email'><span class='fas fa-envelope'></span></label>
                <input type='email' id='email' placeholder='Email'>
            </div>

            <div class='inputBox'>
                <label for='phone'><span class='fas fa-phone'></span></label>
                <input type='number' id='phone' placeholder='Number'>
            </div>
            <input type='submit' value='contact us now' class='btn'>
        </form>


    </div>

</section>

<!-- contacts section ends -->

<!-- blogs section starts -->
<section class='blogs' id='blogs'>
    <h1 class='heading'>Our <span> Blogs</span></h1>
    <div class='box-container'>
        <div class='box'>
            <div class='image'>
                <img src='https://i.postimg.cc/G2nxZrrZ/blog-1.jpg' alt=''>
            </div>
            <div class='content'>
                <a href='#' class='title'>Tasty and refreshing coffee</a>
                <span>Posted by admin/ May 21, 2021</span>
                <p>Learn how to make an iced coffee for hot days</p>
                <a href='#' class='btn'>Learn more</a>

            </div>
        </div>

        <div class='box'>
            <div class='image'>
                <img src='https://i.postimg.cc/pdz69sdM/blog-2.jpg' alt=''>
            </div>

            <div class='content'>
                <a href='#' class='title'>Tasty and refreshing coffee</a>
                <span>Posted by admin/ May 21, 2021</span>
                <p>Learn how to make an iced coffee for hot days</p>
                <a href='#' class='btn'>Learn more</a>

            </div>
        </div>

        <div class='box'>
            <div class='image'>
                <img src='https://i.postimg.cc/tRS24KzV/blog-3.jpg' alt=''>
            </div>

            <div class='content'>
                <a href='#' class='title'>Tasty and refreshing coffee</a>
                <span>Posted by admin/ May 21, 2021</span>
                <p>Learn how to make an iced coffee for hot days</p>
                <a href='#' class='btn'>Learn more</a>

            </div>
        </div>
    </div>


</section>
<!-- blogs section ends -->

<!-- footer section starts -->
<section class='footer'>
    <div class='share'>
        <a href='#' class='fab fa-facebook-f'></a>
        <a href='#' class='fab fa-twitter'></a>
        <a href='#' class='fab fa-instagram'></a>
        <a href='#' class='fab fa-pinterest'></a>
    </div>
    <div class='links'>
        <a href='#'>Home</a>
        <a href='#'>About</a>
        <a href='#'>Menu</a>
        <a href='#'>products</a>
        <a href='#'>Comments</a>
        <a href='#'>contact</a>
        <a href='#'>Blogs</a>
    </div>

    <div class='credit'> Stolen by<span> Khanh Deep Try</span> | All rights reserved</div>
</section>
<!-- footer section ends -->

<!-- custom js file link -->
<script src="script.js"></script>
</body>
</html>